<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz Preview</title>
  <link rel="stylesheet" href="../assets/styles/vars.css">
  <link rel="stylesheet" href="../assets/styles/reset.css">
  <link rel="stylesheet" href="../assets/styles/components.css">
  <link rel="stylesheet" href="../assets/fonts/montserrat/fonts.css">
  <link rel="stylesheet" href="./styles.css">
</head>
<body>
  <section class="main">
    <div class="quizPreview">
      <div class="info">
        <div class="title">
          <h2 class="titleText">Hello new test</h2>
        </div>
        <div class="desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi voluptatem similique amet qui consectetur hic iusto pariatur doloremque illum? Illo</div>
        <div class="addInfo">
          <div class="informationRow"><span>Продолжительность: </span><span class="infoRowContent">20 мин</span></div>
          <div class="informationRow"><span>Создатель: </span><span class="infoRowContent">Даня Шенягин</span></div>
        </div>
      </div>
      <div class="footer">
        <div class="start"><button class="btn button-next">Начать</button></div>
      </div>

    </div>
  </section>
</body>
</html>