<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/fonts/montserrat/fonts.css">
  <link rel="stylesheet" href="./reset.css">
  <link rel="stylesheet" href="./vars.css">
  <link rel="stylesheet" href="./components.css">
  <link rel="stylesheet" href="./styles.css">
  <title>Card</title>
</head>
<body>
  <section class="main">
    <!-- Input -->
    <div class="card">
      <h1 class="title">How are you?</h1>
      <div class="desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum aliquam cum aliquid vitae, odio eaque aspernatur accusamus earum perspiciatis ipsum?</div>
      <div class="input">
        <input type="text" class="kit-input" placeholder="Input answer...">
      </div>
      <div class="footer">
        <div class="skip"><button class="btn btn-transparent button-skip">skip</button></div>
        <div class="next"><button class="btn button-next">next</button></div>
      </div>
    </div>

    <!-- select -->
    <div class="card">
      <h1 class="title">How are you?</h1>
      <div class="desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum aliquam cum aliquid vitae, odio eaque aspernatur accusamus earum perspiciatis ipsum?</div>
      <div class="input">
        <input type="text" class="kit-input" placeholder="Input answer...">
      </div>
      <div class="footer">
        <div class="skip"><button class="btn btn-transparent button-skip">skip</button></div>
        <div class="next"><button class="btn button-next">next</button></div>
      </div>
    </div>

    <!-- radio -->
    <div class="card">
      <h1 class="title">How are you?</h1>
      <div class="desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum aliquam cum aliquid vitae, odio eaque aspernatur accusamus earum perspiciatis ipsum?</div>
      <div class="input">
        <input type="text" class="kit-input" placeholder="Input answer...">
      </div>
      <div class="footer">
        <div class="skip"><button class="btn btn-transparent button-skip">skip</button></div>
        <div class="next"><button class="btn button-next">next</button></div>
      </div>
    </div>

    <!-- dnd -->
    <div class="card">
      <h1 class="title">How are you?</h1>
      <div class="desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum aliquam cum aliquid vitae, odio eaque aspernatur accusamus earum perspiciatis ipsum?</div>
      <div class="input">
        <input type="text" class="kit-input" placeholder="Input answer...">
      </div>
      <div class="footer">
        <div class="skip"><button class="btn btn-transparent button-skip">skip</button></div>
        <div class="next"><button class="btn button-next">next</button></div>
      </div>
    </div>
  </section>
</body>
</html>